In [61]:
import pandas as pd
import numpy as np
from datetime import datetime

In [62]:
# load cleaned train data

df_cleaned = pd.read_csv('https://raw.githubusercontent.com/akwasianing/train_project/refs/heads/main/data_clean/cleaned_train_data.csv')
df_cleaned.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,1

In [63]:
# creating one more attibute (Car_Age) and adding to dataset

current_year = datetime.now().year
df_cleaned['Car_Age'] = current_year - df_cleaned['Year']
df_cleaned.to_csv('Car_Age_attribute_data.csv', index=False)
df_cleaned.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,1,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,0,1,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,1,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,1,0,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,1,12

In [65]:
#  select specified columns

df_cleaned_selected = df_cleaned[['Name', 'Year', 'Price']]
df_cleaned_selected.to_csv('selected_columns.csv', index=False)
df_cleaned_selected.head()

                               Name  Year  Price
0  Hyundai Creta 1.6 CRDi SX Option  2015  12.50
1                      Honda Jazz V  2011   4.50
2                 Maruti Ertiga VDI  2012   6.00
3   Audi A4 New 2.0 TDI Multitronic  2013  17.74
4            Nissan Micra Diesel XV  2013   3.50

In [66]:
# filter rows where the car price is greater than 35 Lakh

df_cleaned_filtered = df_cleaned[df_cleaned['Price'] > 35].reset_index(drop=True)
df_cleaned_filtered.to_csv('filtered_data.csv', index=False)
df_cleaned_filtered.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,First,0.00,1950.0,194.00,5.0,35.67,1,0,1,0,6
1,Audi A6 2011-2015 35 TDI Premium,Coimbatore,2018,48367,First,17.68,1968.0,174.33,5.0,39.58,1,0,1,0,7
2,Mercedes-Benz SLC 43 AMG,Kolkata,2017,13372,First,19.00,2996.0,362.07,2.0,54.00,0,1,1,0,8
3,Audi RS5 Coupe,Mumbai,2013,23000,First,11.05,2894.0,444.00,4.0,37.00,0,1,1,0,12
4,BMW X5 xDrive 30d,Mumbai,2015,41000,First,15.30,2993.0,258.00,5.0,45.00,1,0,1,0,10

In [67]:
# rename columns: 'Name'  'Make_and_Model', 'Price'  'Original_Price'

df_cleaned_renamed = df_cleaned.rename(columns={'Name': 'Make_and Model', 'Price': 'Original_Price'})
df_cleaned_renamed.to_csv('rename.csv', index=False)
df_cleaned_renamed.head()

,Make_and Model,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Original_Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,1,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,0,1,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,1,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,1,0,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,1,12

In [68]:
# mutate - create new column for original car price in USD assuming 1 Lakh is 1200 USD

df_cleaned_renamed['Original_Price_USD'] = df_cleaned_renamed['Original_Price'] * 1200
df_cleaned_renamed.to_csv('mutate.csv', index=False)
df_cleaned_renamed.head()

,Make_and Model,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Original_Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age,Original_Price_USD
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,1,10,15000.0
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,1,0,1,14,5400.0
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,1,13,7200.0
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,1,0,12,21288.0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,1,12,4200.0

In [69]:
# arrange - sort Original_Price in USD in descending order

df_cleaned_sort = df_cleaned_renamed.sort_values(by='Original_Price_USD', ascending=False)
df_cleaned_renamed.to_csv('arrange.csv', index=False)
df_cleaned_sort.head()

,Make_and Model,Location,Year,Kilometers_Driven,Owner_Type,Mileage (kmpl),Engine (cc),Power (bhp),Seats,Original_Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age,Original_Price_USD
3952,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,160.00,1,0,1,0,8,192000.0
5618,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,120.00,0,1,1,0,14,144000.0
5750,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,100.00,0,1,1,0,10,120000.0
1457,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,97.07,1,0,1,0,6,116484.0
1917,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,93.67,0,1,1,0,7,112404.0

In [70]:
# summarise with group by operation - Average Price by Location (City)

df_cleaned_renamed.groupby('Location')['Original_Price'].mean().reset_index(name='Avg_Price')
df_cleaned_renamed.to_csv('summarise.csv', index=False)

In [72]:
# summarise with group by operation - count of Cars by City

df_cleaned_renamed.groupby(['Location']).size().reset_index(name='Car_Count')
df_cleaned_renamed.to_csv('summarise2.csv', index=False)